## Advant of Code: Day 1

### Any method

In [52]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [47]:
data = pd.read_csv('Data/day01.in', header=None)


data['offset'] = data[0].shift(1)
data['increase_flag'] = np.where(data[0] > data['offset'], True, False)#[True if data[0] - data['offset'] > 0 else False]

data.head()

     0  offset  increase_flag
0  170     NaN          False
1  176   170.0           True
2  179   176.0           True
3  180   179.0           True
4  195   180.0           True

In [48]:
data['increase_flag'].sum()

1477

### Part 2

In [49]:
data['offset2'] = data[0].shift(2)
data['window_sum'] = data[0] + data['offset'] + data['offset2']
data['window_sum_offet'] = data['window_sum'].shift(1)

data['increase_flag_window'] = np.where(data['window_sum'] > data['window_sum_offet'], True, False)#[True if data[0] - data['offset'] > 0 else False]

data.head()

,0,offset,increase_flag,offset2,window_sum,window_sum_offet,increase_flag_window
0,170,NaN,False,NaN,NaN,NaN,False
1,176,170.0,True,NaN,NaN,NaN,False
2,179,176.0,True,170.0,525.0,NaN,False
3,180,179.0,True,176.0,535.0,525.0,True
4,195,180.0,True,179.0,554.0,535.0,True

In [51]:
data['increase_flag_window'].sum()

1523