# Advant of Code: Day 3

## Any method

### Part 1

In [166]:
import pandas as pd
import numpy as np

In [167]:
data = pd.read_csv('Data/day03.in', header=None, dtype=str)
data.rename(columns={0:'full_binary'}, inplace=True)

In [168]:
data[[f'char{i}' for i in range(14)]] = data['full_binary'].str.split('', expand=True) 
data.drop(['full_binary','char0','char13'], axis = 1, inplace = True)
expanded = data.copy()

In [169]:
medians = data.median().astype('int').astype('string')
gamma_binary = medians.str.cat()
gamma_binary

'010001110111'

In [170]:
epsilon_binary = ''
for char in gamma_binary:
    epsilon_binary = epsilon_binary + ['0' if char == '1' else '1'][0]
epsilon_binary

'101110001000'

In [171]:
gamma = int(gamma_binary, 2)
epsilon = int(epsilon_binary,2)


print(f'The answers are:\nGamma: {gamma}\nEpsilon: {epsilon}\nProduct: {gamma*epsilon}')

The answers are:
Gamma: 1143
Epsilon: 2952
Product: 3374136

### Part 2

In [172]:
expanded

    char1 char2 char3 char4 char5 char6 char7 char8 char9 char10 char11 char12
0       0     1     1     0     0     1     1     0     1      0      0      0
1       0     1     0     1     0     1     1     1     1      1      0      0
2       0     0     0     0     0     0     1     1     1      1      0      1
3       0     0     1     0     0     1     0     0     1      0      1      0
4       0     1     0     0     1     1     0     0     0      0      0      1
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...    ...
995     1     1     1     1     1     1     1     0     0      1      1      0
996     0     0     1     0     1     0     0     1     0      1      0      0
997     0     1     1     1     0     1     1     1     1      0      0      1
998     0     0     1     1     0     0     1     0     0      0      0      0
999     1     0     1     0     0     1     1     1     0      1      1      0

[1000 rows x 12 columns]

In [226]:
#Funtion for finding most common element in a column for a provided df
def find_median(df, column, flip = False):
    m = df[column].median()
    m = int(1) if m == 0.5 else int(m)

    if flip:
        return str(1-m)
    else:
        return str(m)
    
    

find_median(expanded, 'char6', flip = True)

'0'

In [227]:
#Funtion for filtering a DF to only keen the rows matching a give value for given column
def filter(df, col, value):
    return df[df[col] == value]

In [230]:
#Find most common
def find_most_common(df, flip = False):
    for col in [f'char{i}' for i in range(1,13)]:
        med = find_median(df, col, flip)
        df = filter(df, col ,med)
        if df.shape[0] <= 1:
            break
    return df

In [231]:
oxygen = find_most_common(expanded, flip = False).iloc[0].astype('string').str.cat()
co2 = find_most_common(expanded, flip = True).iloc[0].astype('string').str.cat()



print(f'The oxygen number is: {int(oxygen,2)}\nThe CO2 number is: {int(co2,2)}\nTheir product is: {int(oxygen,2) * int(co2,2)}')

The oxygen number is: 1909
The CO2 number is: 2322
Their product is: 4432698