# Advant of Code: Day 2

## Any method

### Part 1

In [27]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv('Data/day02.in', header=None)

In [38]:
data[['direction','amount']] = data[0].str.split(' ', expand=True) 
data['amount'] = pd.to_numeric(data['amount'])
totals = data[['direction', 'amount']].groupby(['direction']).sum()

In [39]:
totals.head()

           amount
direction
down         1913
forward      2105
up           1106

In [45]:
depth = totals.loc['down', 'amount'] - totals.loc['up', 'amount']
horizontal_position = totals.loc['forward', 'amount']

answer = depth * horizontal_position
print(f'The depth is: {depth}\nThe horizontal position is: {horizontal_position}\nThe product of the two is: {answer}')

The depth is: 807
The horizontal position is: 2105
The product of the two is: 1698735

### Part 2

In [57]:
data['change_in_aim'] = np.where(data['direction'] == 'down', data['amount'], np.where(data['direction'] == 'up', -data['amount'],0))
data['horizontal_progress'] = np.where(data['direction'] == 'forward',data['amount'],0).cumsum()
data['aim_progress'] = data['change_in_aim'].cumsum()
data['change_in_depth'] = np.where(data['direction'] == 'forward', data['aim_progress'] * data['amount'],0)
data['depth_progress'] = data['change_in_depth'].cumsum()

In [63]:
data.tail()

,0,direction,amount,change_in_aim,horizontal_progress,aim_progress,change_in_depth,depth_progress
995,down 4,down,4,4,2087,807,0,743092
996,forward 1,forward,1,0,2088,807,807,743899
997,forward 6,forward,6,0,2094,807,4842,748741
998,forward 8,forward,8,0,2102,807,6456,755197
999,forward 3,forward,3,0,2105,807,2421,757618

In [62]:
new_depth = data['depth_progress'].iloc[-1]
new_horizontal_position = data['horizontal_progress'].iloc[-1]

new_answer = new_depth * new_horizontal_position
print(f'The depth is: {new_depth}\nThe horizontal position is: {new_horizontal_position}\nThe product of the two is: {new_answer}')

The depth is: 757618
The horizontal position is: 2105
The product of the two is: 1594785890